<%
config = {
  mjs: ['components/tagTest/tagTest'],
  title: 'Tagged Template Test Page'
}
%>

<%- include('partials/header') %>

<h1>Tagged Template Test</h1>

<button id="renderButton" type="button">Render</button>
<div id="results"></div>

<%- include('partials/footer') %>
