* {
  box-sizing: border-box;
}

body {
  background-color: #121255;
  color: White;
  font-family: Arial;
}

button {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  padding: 10px;
}

button:active {
  background-color: DarkGray;
}

button:focus {
  border: 1px solid SkyBlue;
}

input[type='text'] {
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  padding: 10px;
}

input[type='text']:focus {
  border: 1px solid SkyBlue;
}
